html{
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}
body{
    margin: 0px;
}
section{
    background-color: rgb(77, 77, 77);
}
*{
    scroll-padding-top: 100px;
}
a{
    color: white;
    text-decoration:none
}
nav{
    position: fixed;
    display: block;
    width: 100%;
    color: white;
    top: 0px; 
    background-color: rgb(32, 32, 32);
}
.navigator{
    margin-left: 1vw;
}
#About-me{
    margin-top: 1vh;
}
#Projects-grid{
    margin-top: 1vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    /* grid-template-areas: 
    "title title"
    "1 2"
    "3 4"
    "5 6"; */
    gap: 10px 10px;
}
h2{ 
    grid-area: title;
}
.project{
    background-color: rgb(51, 51, 51);
}
#About-me{
    margin-top: 90px;
}
